/* ########## Document Defaults ########## */
html
{
	height: 100%;
}

body
{
	background-color: #fff;
	color: #121212;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	height: 100%;
}

form
{
	padding: 1rem 0;
}

input, textarea
{
	border: 1px solid #aaa;
	margin-bottom: 0.25rem;
	max-width: 100%;
	width: 100%;
}
	input:focus, textarea:focus
	{
		border: 1px solid #444;
	}

textarea
{
	min-height: 10em;
}

button
{
	background-color: #444;
	border: 1px solid #444;
	color: #fff;
	font-size: 100%;
	max-width: 100%;
	padding: 0.8rem;
	width: 100%;
}

label
{
	display: block;
	font-size: 75%;
	margin-left: 0.25rem;
	margin-top: 0.5rem;
	text-align: left;
}

h1, h2, h3, h4, h5, h6
{
	color: #444;
	margin: 1em 0;
	text-align: center;
}

h1
{
	font-size: 175%;
}

h2
{
	font-size: 150%;
}

h3
{
	font-size: 125%;
}

li.formal
{
	text-align: left;
}

a
{
	color: #66cc99;
	font-weight: bold;
}

.menu-icon
{
	background-color: #fff;
	border-radius: 0.125rem;
	margin: 0.6875rem;
	padding: 0.75rem;
	position: fixed;
	width: 1.5rem;
	z-index: 9999;
}
	.menu-icon:hover
	{
		cursor: pointer;
	}
	.menu-icon div
	{
		background-color: #444;
		height: 0.125rem
	}
	.menu-icon div:first-child, .menu-icon div.first-child
	{
		margin-bottom: 0.25rem;
	}
	.menu-icon div:last-child, .menu-icon div.last-child
	{
		margin-top: 0.25rem;
	}

.social-network-feed
{
	border: 1px solid #444;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
	.social-network-feed p
	{
		overflow: hidden;
	}
	.social-network-feed .network-tag
	{
		float: right;
	}
	.social-network-feed .network-timestamp
	{
		font-weight: bold;
	}

.module
{
	background-color: #ddffee;
	border-radius: 4px;
	padding: 1rem;
}

.module .node
{
	background-color: #66cc99;
	border-radius: 4px;
	color: #fff;
	margin: 0 0 1rem 0;
	min-height: 15rem;
	overflow: auto;
}

.module .node:last-child
{
	margin-bottom: 0;
}

.none
{
	display: none !important;
}

.hide
{
	visibility: hidden !important;
}

.browsehappy
{
	font-size: 30px;
	text-align: center;
	margin: 100px auto 200px auto;
}


#about .profile
{
	border: 0.25rem solid #66cc99;
	border-radius: 100%;
	margin: auto;
	margin-bottom: 3rem;
	max-width: 10rem;
	overflow: hidden;
	width: 100%;
}

#about .profile img
{
	display: block;
	width: 100%;
}

/* ########## Document Header ########## */
body > header
{
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top: 0.25rem solid #66cc99;
	color: #444;
	height: 3.75rem;
	line-height: 3.75rem;
	/*overflow: hidden;*/
	position: relative;
	z-index: 200;
}

body > header h1
{
	color: inherit;
}

body > header a
{
	color: inherit;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0 1rem;
}

body > header #title
{
	height: inherit;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

/*body > header #title a:before
{
	border: 2px solid #3399cc;
	content: 'DM';
	letter-spacing: -2px;
	margin-right: 0.5rem;
	padding: 0.4rem;
	padding-right: 0.5rem;
}*/

/*body > header .menu-icon
{
	float: left;
	line-height: 3.75rem;
}*/

body > header nav
{
	margin: auto;
	overflow: hidden;
	width: 100%;
}

body > header nav ul
{
	display: none;
	text-transform: lowercase;
}

/* ########## Main Content ########## */
body > main
{
	height: 100%;
	text-align: center;
}

body > main > article, body > main > section
{
	background-color: #fff;
	letter-spacing: 0;
	min-height: calc(100% - 4rem);
	overflow: hidden;
	padding: 4rem 1rem 3rem 1rem;
	text-align: center;
}

body > main > section#landing
{
	background: url('/assets/images/workspace-900p.jpg') center center;
	background-size: cover;
	height: 100%;
}

body > main > article .arrow-down, body > main > section .arrow-down
{
	border: 2rem solid transparent;
	border-top: 1.75rem solid #444;
	border-bottom-width: 0;
	display: block;
	margin: 1rem auto;
	width: 0;
}

body > main > article:nth-child(even), body > main > section:nth-child(even), 
body > main > article.even, body > main > section.even
{
	background-color: #f4f4f4;
}

article:nth-child(even) h1, section:nth-child(even) h1, 
article.even h1, section.even h1,
article:nth-child(even) h2, section:nth-child(even) h2, 
article.even h2, section.even h2,
article:nth-child(even) h3, section:nth-child(even) h3, 
article.even h3, section.even h3,
article:nth-child(even) h4, section:nth-child(even) h4, 
article.even h4, section.even h4,
article:nth-child(even) h5, section:nth-child(even) h5, 
article.even h5, section.even h5,
article:nth-child(even) h6, section:nth-child(even) h6, 
article.even h6, section.even h6/*,
article:nth-child(even) a, section:nth-child(even) a, 
article.even a, section.even a*/
{
	color: #444;
}

body > main > article:nth-child(even) .arrow-down, body > main > section:nth-child(even) .arrow-down, 
body > main > article.even .arrow-down, body > main > section.even .arrow-down
{
	border-top: 1.75rem solid #444;
}

body > main > article > header h2, body > main > section > header h2
{
	font-weight: bold;
	margin: 1em 0;
	padding: 1rem;
}

body > main > article > footer, body > main > section > footer
{

}

body > main > article pre, body > main > section pre
{
	background-color: #fff;
	border: 1px solid #312d2a;
	overflow: auto;
	padding: 0.75em;
	text-align: left;
}

body > main > article:nth-child(even) pre, body > main > section:nth-child(even) pre, 
body > main > article.even pre, body > main > section.even
{
	background-color: #121212;
	color: #fff;
}


/* ########## Media Queries ########## */
@media screen and (min-width: 700px)
{
	html, body
	{
		height: 100%;
	}

	body > header a
	{
		transition: color 0.25s;
		-webkit-transition: color 0.25s;
	}

	body > header a:hover
	{
		color: #66cc99;
		transition: color 0.25s;
		-webkit-transition: color 0.25s;
	}

	body > header a.active
	{
		color: #66cc99;
	}

	body > header #title
	{
		float: left;
		position: relative;
		width: auto;
	}

	body > header #title a:hover
	{
		color: #121212;
	}

	body > header > nav
	{
		max-width: 60rem;
	}

	body > header > nav ul
	{
		display: inline-block;
		float: right;
	}

	body > header nav.nav-left
	{
		float: left;
		z-index: 200;
	}

	body > header nav.nav-right
	{
		float: right;
		z-index: 200;
	}

	body > header nav li
	{
		display: inline-block;
	}

	body > header.locked
	{
		left: 0;
		margin-top: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}

	body > main > article, body > main > section
	{
		/*text-align: left;*/
	}

	body > main > section#landing
	{
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	body > main > article > header, body > main > article > div, body > main > article footer, 
	body > main > section > header, body > main > section > div, body > main > section > footer
	{
		margin: auto;
		max-width: 60rem;
	}

	.menu-icon
	{
		display: none;
	}

	.module
	{
		padding: 1rem 0;
	}

	.module .node
	{
		display: inline-block;
		margin: 0 1.65%;
		vertical-align: top;
		width: 30%;
	}
}


.showcase
{
	/*float: left;*/
	margin: auto !important;
	margin-bottom: 3rem !important;
}



.showcase, .showcase *
{
	box-sizing: border-box;
}

.showcase
{
	margin: 0;
	max-width: 30rem;
	padding: 0;
	position: relative;
	width: 100%;
}

/* Set up defaults for maintaining device aspect 
	 ratios for screens. All are based on 100% as 
	 width.*/
.showcase .maintain-ratio
{
	height: 0;
	margin: 0;
	padding-bottom: 177.7777%; /* Default is 9:16 portrait (mobile-first) */
	position: relative;
	width: 100%;
}

.showcase .filler
{
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}


/* Phone specific structure and style */
.showcase .phone
{
	bottom: 0;
	left: 78%;
	margin: auto;
	position: absolute;
	width: 15%;
}

.showcase .phone .case
{
	background-color: #333;
	border-radius: 3%;
	overflow: hidden;
	padding: 20% 10%;
}

.showcase .phone .screen
{
	background-color: #fff;
}


/* Tablet specific structure and style */
.showcase .tablet
{
	margin-top: -25%;
	position: relative;
	width: 30%;
	z-index: 100;
}

.showcase .tablet .case
{
	background-color: #333;
	border-radius: 3%;
	overflow: hidden;
	padding: 8%;
}

.showcase .tablet .screen
{
	background-color: #fff;
}

.showcase .tablet .screen .maintain-ratio
{
	padding-bottom: 150%; /* 2:3 Change ratio for tablet. Leave in portrait. */
}


/* Desktop specific structure and style */
.showcase .desktop
{
	margin: auto;
	position: relative;
	width: 75%;
}

.showcase .desktop .monitor
{
	background-color: #333;
	border-radius: 3%;
	overflow: hidden;
	padding: 5%;
}

.showcase .desktop .screen
{
	background-color: #fff;
}

.showcase .desktop .screen .maintain-ratio
{
	padding-bottom: 56.25%; /* 16:9 Switch to landscape for desktop */
}

.showcase .desktop .stand
{
	background-color: #aeaeae;
	box-shadow: 0 0.25rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5) inset, 0 -0.25rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5) inset;
	height: 20%;
	left: 45%;
	position: absolute;
	top: 100%;
	width: 10%;
}

.showcase .desktop .base
{
	background-color: #aeaeae;
	border-radius: 0.125rem 0.125rem 0 0;
	height: 5%;
	left: 35%;
	position: absolute;
	top: 120%;
	width: 30%;
}


/* Default mobile-first website design and structure. */
.website
{
	background-color: #fff;
	height: 100%;
}
	.website div, .website section, .website header
	{
		overflow: hidden;
	}

.website div.body
{
	height: 100%;
	position: relative;
}

.website div.body .constraint-wrapper
{
	margin: 4% 3%;
}

.website div.body > header
{
	background-color: #fff;
}

.website div.body > header .title
{
	background-color: #66cc99;
	border-radius: 0.125rem;
	padding: 7% 0;
}

.website div.body > div.main > section
{
	background-color: #ddffee;
}

.website div.body > div.main > section:nth-child(even)
{
	background-color: #fff;
}

.website div.body > div.main .about
{
	background-color: #66cc99;
	border-radius: 0.125rem;
	padding: 25%;
}

.website div.body > div.main .information-nodes
{
	text-align: justify;
}

.website div.body > div.main .information-nodes .node
{
	background-color: #66cc99;
	border-radius: 0.125rem;
	float: left;
	margin-bottom: 4%;
	padding: 20% 0;
	width: 48%;
}

.website div.body div.main .node.space-left
{
	margin-left: 2%;
}

.website div.body div.main .node.space-right
{
	margin-right: 2%;
}

.website div.body div.main .node.space-around
{
	margin-left: 2%;
	margin-right: 2%;
}

.website div.body > div.main .information-nodes .node.double
{
	width: 100%;
}

.website .accent
{
	background-color: #66ccff !important;
}


/* Tablet specific website styles. */
.tablet .website .title
{
	padding: 5% !important;
}

.tablet .website .about
{
	padding: 15% !important;
}

.tablet .website div.body div.main .node
{
	padding: 12%;
}


/* Desktop specific website styles. */
.desktop .website .constraint-wrapper
{
	margin: 1.5% 20% !important;
}

.desktop .website .title
{
	padding: 2.5% !important;
}

.desktop .website .about
{
	padding: 7% !important;
}

.desktop .website div.body div.main .node
{
	padding: 8%;
	width: 22%;
}

.desktop .website div.body div.main .node.double
{
	width: 48%;
}