/* ########## Document Defaults ########## */
html
{
	height: 100%;
}

body
{
	background-color: #fff;
	color: #312d2a;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	height: 100%;
}

form
{
	padding: 1rem 0;
}

input, textarea
{
	border: 1px solid #aaa;
	margin-bottom: 0.25rem;
	max-width: 100%;
	width: 100%;
}
	input:focus, textarea:focus
	{
		border: 1px solid #207f94;
	}

textarea
{
	min-height: 10em;
}

button
{
	background-color: #207f94;
	border: 1px solid #207f94;
	color: #fff;
	font-size: 100%;
	max-width: 100%;
	padding: 0.8rem;
	width: 100%;
}

label
{
	display: block;
	font-size: 75%;
	margin-left: 0.25rem;
	margin-top: 0.5rem;
	text-align: left;
}

h1, h2, h3, h4, h5, h6
{
	color: #207f94;
	text-align: center;
}

h1
{
	font-size: 175%;
}

h2
{
	font-size: 150%;
}

h3
{
	font-size: 125%;
}

li.formal
{
	text-align: left;
}

a
{
	color: #207f94;
	font-weight: bold;
}

.menu-icon
{
	height: 1.25rem;
	width: 1.4rem;
}
	.menu-icon:hover
	{
		cursor: pointer;
	}
	.menu-icon div
	{
		background-color: #fff;
		border-radius: 1px;
		height: 0.25rem
	}
	.menu-icon div:first-child, .menu-icon div.first-child
	{
		margin-bottom: 0.25rem;
	}
	.menu-icon div:last-child, .menu-icon div.last-child
	{
		margin-top: 0.25rem;
	}

.social-network-feed
{
	border: 1px solid #207f94;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
	.social-network-feed p
	{
		overflow: hidden;
	}
	.social-network-feed .network-tag
	{
		float: right;
	}
	.social-network-feed .network-timestamp
	{
		font-weight: bold;
	}

.none
{
	display: none !important;
}

.hide
{
	visibility: hidden !important;
}

.browsehappy
{
	font-size: 30px;
	text-align: center;
	margin: 100px auto 200px auto;
}


/* ########## Document Header ########## */
body > header
{
	background-color: rgba(32, 127, 148, 0.0);
	min-height: 3rem;
	left: 0;
	line-height: 3rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

body > header > div
{
	align-items: center;
	display: flex;
	justify-content: space-between;
}

body > header h1
{
	font-size: 1.75rem;
	margin: 0 1rem;
}
	body > header h1 a
	{
		letter-spacing: -0.0625rem;
	}

body > header a
{
	color: #fff;
	font-weight: normal;
}

body > header > nav
{
	max-height: 0;
	margin: 0 1rem;
	opacity: 0;
	overflow: hidden;
	text-align: center;
	/*transition: max-height 0.5s ease-out 0.1s, opacity 0.1s ease-out;*/
}
	body > header > nav ul
	{
		margin-bottom: 1rem;
	}
	body > header > nav a
	{
		background-color: rgba(30, 30, 30, 0.5);
		border-radius: 2px;
		display: block;
		height: 2.5rem;
		letter-spacing: 0.125rem;
		line-height: 2.5rem;
		margin-bottom: 0.5rem;
		text-transform: lowercase;
	}

body > header > nav.open
{
	max-height: 30rem;
	opacity: 1;
	/*transition: max-height 1s ease-out, opacity 0.1s ease-in 0.3s;*/
}

body > header .menu-icon
{
	margin: 0 1rem;
}


/* ########## Main Content ########## */
body > main
{
	height: 100%;
	text-align: center;
}

body > main > article, body > main > section
{
	color: #312d2a;
	letter-spacing: 0;
	min-height: 50%;
	overflow: hidden;
	padding: 0 1rem;
	text-align: center;
}

body > main > section#landing
{
	background: url('null') center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

body > main > article .arrow-down, body > main > section .arrow-down
{
	border: 2rem solid transparent;
	border-top: 1.75rem solid #312d2a;
	border-bottom-width: 0;
	display: block;
	margin: 1rem auto;
	width: 0;
}

body > main > article:nth-child(even), body > main > section:nth-child(even), 
body > main > article.even, body > main > section.even
{
	background-color: #312d2a;
	color: #fff;
}

body > main > article:nth-child(even) .arrow-down, body > main > section:nth-child(even) .arrow-down, 
body > main > article.even .arrow-down, body > main > section.even .arrow-down
{
	border-top: 1.75rem solid #fff;
}

body > main > article > header h2, body > main > section > header h2
{
	font-weight: normal;
	margin: 0;
	padding: 1rem;
}

body > main > article > footer, body > main > section > footer
{

}

body > main > article pre, body > main > section pre
{
	background-color: #fff;
	border: 1px solid #312d2a;
	overflow: auto;
	padding: 0.75em;
	text-align: left;
}

body > main > article:nth-child(even) pre, body > main > section:nth-child(even) pre, 
body > main > article.even pre, body > main > section.even
{
	background-color: #121212;
	color: #fff;
}


/* ########## Media Queries ########## */
@media (max-width: 300px)
{
	body > header h1
	{
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 600px), screen and (orientation: landscape)
{
	html, body
	{
		height: 100%;
	}

	body > header
	{
		height: 100%;
		left: 0;
		line-height: 3rem;
		position: fixed;
		top: 0;
		width: 12rem;
		z-index: 9999;
	}

	body > header h1
	{
		margin: auto auto 2rem auto;
		text-align: center;
	}

	body > header > nav
	{
		margin: 0 1rem;
		max-height: none;
		opacity: 1;
		overflow: hidden;
		text-align: center;
	}

	body > main > article, body > main > section
	{
		padding: 0 10%;
		text-align: left;
	}

	body > main > article > header, body > main > article > div, body > main > article footer, 
	body > main > section > header, body > main > section > div, body > main > section > footer
	{
		margin: auto;
		max-width: 60rem;
	}

	.menu-icon
	{
		display: none;
	}

	.node
	{
		display: inline-block;
		margin: 0 1.65%;
		vertical-align: top;
		width: 30%;
	}
}