*
{
	box-sizing: border-box;
}

html, body
{
	height: 100%;
}

html
{
	font-size: 100%;
}

body
{
	background-attachment: fixed;
	background-image: url('../images/workspace-900p.jpg');
	background-size: cover;
	color: #444;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	text-align: center;

	> header
	{
		background-color: #fff;
		border-bottom: 1px solid #eee;
		border-top: 2px solid #66cc99;
		height: 3rem;
		line-height: 3rem;

		.container
		{
			height: 100%;
		}

		h1
		{
			font-size: 1.75rem;
			height: 100%;
			line-height: inherit;
			margin: 0;

			a
			{
				color: #444;
				display: block;
				font-weight: normal;
				height: 100%;
				line-height: inherit;
			}
		}

		#menu
		{
			background-color: #fff;
			border-radius: 1px;
			left: 0;
			margin: 0.625rem;
			padding: 0.5rem;
			position: fixed;
			top: 0;
			width: 2.5rem;
			z-index: 500;

			div
			{
				background-color: #444;
				height: 0.125rem;

				&:first-child, &.first-child
				{
					margin-bottom: 0.25rem;
				}
				
				&:last-child, &.last-child
				{
					margin-top: 0.25rem;
				}
			}

			&:hover
			{
				cursor: pointer;
			}
		}

		nav
		{
			background-color: #fff;
			border-radius: 0.125rem;
			height: 0;
			left: 1rem;
			overflow: hidden;
			position: fixed;
			top: 1rem;
			width: 0;
			z-index: 450;

			transition: height 0.25s, left 0.25s, top 0.25s, width 0.25s;
			-webkit-transition: height 0.25s, left 0.25s, top 0.25s, width 0.25s;
			transform: translateZ(0);
			-webkit-transform: translateZ(0);

			ul
			{
				margin-top: 4rem;

				li
				{
					height: 3rem;
					line-height: 3rem;

					a
					{
						color: #444;
						display: block;
						letter-spacing: 1px;
						text-transform: lowercase;
					}
				}
			}
		}
	}

	&.menu-active
	{
		overflow: hidden;
		
		nav
		{
			border-radius: 0;
			bottom: 0;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
		}
	}
}

section
{
	background-color: #fff;
	padding: 4rem 0.5rem;

	h2
	{
		letter-spacing: 1px;
		margin-bottom: 2.5rem;
	}

	&#home
	{
		background-color: transparent;
		height: 100%;
	}

	&#about
	{
		#profile
		{
			border: 0.25rem solid #66cc99;
			border-radius: 100%;
			margin: 3rem auto;
			max-width: 10rem;
			overflow: hidden;
		}
	}

	&:nth-child(even)
	{
		background-color: #f4f4f4;
	}
}

.container
{
	overflow: hidden;
}

ul
{
	list-style: none;
	margin-bottom: 2.5rem;
	padding: 0;

	li
	{
		padding: 0.25rem;
	}
}

img
{
	display: block;
	max-width: 100%;
}

a
{
	color: #66cc99;
	font-weight: bold;
	text-decoration: none;
}

.accent
{
	color: #66cc99;
}


@media screen and (min-width: 55rem) {
	/* Desktop Styling */
	body
	{
		> header
		{
			position: fixed;
			width: 100%;

			h1
			{
				float: left;
				padding: 0 1rem;
				text-align: left;
			}

			#menu
			{
				display: none;
			}

			nav
			{
				background-color: inherit;
				float: right;
				height: 100%;
				left: auto;
				line-height: 3rem;
				position: relative;
				top: auto;
				width: auto;

				ul
				{
					height: 100%;
					line-height: inherit;
					margin: 0;

					li
					{
						float: left;
						height: 100%;
						line-height: inherit;
						padding: 0;

						a
						{
							display: inline;
							font-weight: normal;
							line-height: inherit;
							margin: 0 1rem;

							transition: 0.25s color;
							-webkit-transition: 0.25s color;

							&:hover
							{
								color: #66cc99;
							}
						}
					}

					&:before, &:after
					{
						content: ' ';
						display: table;
					}

					&:after
					{
						clear: both;
					}
				}

				&:before, &:after
				{
					content: ' ';
					display: table;
				}

				&:after
				{
					clear: both;
				}
			}
		}
	}

	.container
	{
		margin: auto;
		max-width: 55rem;
	}
}